In [4]:
s1 = "hamza"
count = 0
for ch in s1:
    count += 1

print(count)

5

In [8]:
"a" in s1

True

In [10]:
s1 = "Hamza is smart"
print(s1[-2]) #negative indexing goes from end to front
print(s1[2]) #positive indexing goes from front to end

r
m

In [11]:
print(range(5))

range(0, 5)

In [ ]:
#slicing: s1[start_index: end_index:step] ==> default s1[ : : ]

In [12]:
print(s1[0 : len(s1) : 2])

Hmai mr

In [13]:
s1[ : : -1] #to reverse the string

'trams si azmaH'

In [14]:
s1 = "our first python program"
s1.lower(), s1.upper(), s1.title(), s1.capitalize(), s1.swapcase()

('our first python program',
 'OUR FIRST PYTHON PROGRAM',
 'Our First Python Program',
 'Our first python program',
 'OUR FIRST PYTHON PROGRAM')

In [15]:
s1.count("t"), s1.count("T"), s1.index("t", 10)

(2, 0, 12)

In [19]:
s2 = s1.split() #returns a list of subs of s1

In [24]:
s3 = " ".join(s2) #join() is a more optimized way of concatenating data than using the + operator

In [25]:
print(s3)

our first python program

In [ ]:
'''String formating'''

In [35]:
name = "Hamza"
day = "1"

"Hello " + name + "! Today is day " + day +" of training."

TypeError: can only concatenate str (not "int") to str

In [30]:
"Hello {}! Today is day {} of training".format(name,day)

'Hello Hamza! Today is day 1 of training'

In [37]:
name = "Hamza"
day = 1

"Hello {}! Today is day {:.2f} of training".format(name,day) #format the data to 2 decimal place floats

'Hello Hamza! Today is day 1.00 of training'

In [39]:
"{2} {0} {1}".format("a", "b", "c") #print strings according to specified indices

'c a b'